In [ ]:
class Counter:
  count=0

  def __init__(self):
    self._count=0
  def increment(self):
    self._count+=1
    Counter.count+=1

  def get_counts(self):
    return f"Instance count: {self._count}, Class count: {Counter.count}"

a = Counter()
b = Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())
print(b.get_counts())

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

In [ ]:
def sum_all(args):
  return sum(args)
print("sum of 1,2,3 is:", sum_all(1,2,3))

In [ ]:
def first_word(list):
  return sorted(list)[0]

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))

Bartholomew

In [ ]:
class Employee:
  emp_count = 0
  total_salary = 0

  def __init__(self, name, family, salary, dep):
    Employee.emp_count += 1
    Employee.total_salary += salary
    self.name = name
    self.family = family
    self.salary = salary
    self.dep = dep

  def average_salary(self):
    return Employee.total_salary / Employee.emp_count

  def display_employee(self):
      print(f"Name: {self.name}, Family: {self.family}, Salary: {self.salary}, Department: {self.dep}")


class Fulltime_Employee(Employee):
  def __init__(self, name, family, salary, dep):
     super().__init__(name, family, salary, dep)

e1 = Employee("Shannu", "Boni", 60000, "Engineering")
e2 = Fulltime_Employee("Avinash", "Shanmukha", 80000, "Developer")

e1.display_employee()
e2.display_employee()

print(f"Total Employees: {Employee.emp_count}")
print(f"Average Salary: {Employee.average_salary(e1)}")

Name: Shannu, Family: Boni, Salary: 60000, Department: Engineering
Name: Avinash, Family: Shanmukha, Salary: 80000, Department: Developer
Total Employees: 2
Average Salary: 70000.0